#points__container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.points__button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20px;
	margin: 10px 0;
}

.main-counter {
	display: block;
	padding: 10px;
	color: #bad9b5;
	border: #eff7cf 2px solid;
	background-color: #268bd2;
}

.secondary-counter {
	padding: 5px;
	text-align: center;
	color: #bad9b5;
}
