@import "./_variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_bootswatch";

.user-avatar {
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px 0px 0px 5px;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.user-avatar > img {
	width: 2rem;
	display: block;
}


.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
	padding-right: 0.75rem;
	background-position: right calc(2.475em + 0.1875rem) center;
}