#primary_wrapper {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 2vw;
	column-gap: 2vw;
}
.secondary-wrapper {
	max-width: 50%;
	justify-content: center;
	padding: 2vw;
	align-items: center;
	word-wrap: break-word;
}

@media screen and (max-width: 240px) {
	#wrapper {
		margin: 0;
		padding: 0;
	}
	#points__container {
		width: 100vw;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.points__button-group {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
